<!DOCTYPE html>
<html>
	<%- include('composants/head') %>
	<%- include('composants/menu') %>
	<%- include('composants/entete') %>
	<%- include('composants/main') %>
	<%- include('composants/socket_body') %>
	<%- include('composants/footer') %>
</html>

<%- include('composants/socket_head') %> 
<body>
 <%- include('composants/entete') %>

 <%- include('composants/footer') %>
</body>
<script type="text/javascript">
</script>
</html>